{
  "extends": [
    "standard"
  ],
  "env": {
    "node": true,
    "es6": true,
    "worker": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "requireConfigFile": false,
  },
  "rules": {},
  "globals": {
    "SharedArrayBuffer": "readonly",
    "Atomics": "readonly",
    "functionThatDoesNotExist": "readonly"
  }
}
